[submodule "ttnt-runtime"]
	path = ttnt-runtime
	url = https://github.com/NDYDHHC/ttnt-runtime.git
	branch = master
[submodule "ttnt-godot"]
	path = ttnt-godot
	url = https://github.com/NDYDHHC/ttnt-godot.git
	branch = main
